#!/bin/bash
################################################
#                                              #
# From:    Robert Bruckmueller                 #
# Email:   admin@mediadelivery.de              #
# Web:     mediadelivery.de                    #
# Version: 1.1.0                               #
# Date:    13.11.14                            #
# File:    backup-db                           #
# Github:  https://github.com/lala-rob/Scripte #
# License: GPL v3                              #
# http://www.gnu.org/copyleft/gpl.html         #
#                                              #
################################################
# Changelog
# v1.0: erste verion
# v1.1: Email Versand/DB User

######## Config ########
##Email##
emailfrom="admin@example.com" #must be set
emailto="backup@example.com" #must be set
emailadmin="admin@example.com" #must be set
emailsmtp="mail.example.com" #must be set
emailuser="admin@example.com"  #can be emty
emailpass="" #can be emty
emailport=25
emailtls="yes" #must be set(yes,no) 
##PGP##
gpgkey="1234567" #must be set
##DB##
dbuser="backup" #must be set
dbpass="" #can be emty
######## Config ########