#!/bin/bash
################################################
#                                              #
# From:    Robert Bruckmueller                 #
# Email:   admin@mediadelivery.de              #
# Web:     mediadelivery.de                    #
# Version: 1.2.0                               #
# Date:    14.11.14                            #
# License: GPL v3                              #
# http://www.gnu.org/copyleft/gpl.html         #
#                                              #
################################################

######## Config ########
##Email##
emailfrom="admin@example.com" #must be set
emailto="backup@example.com" #must be set
emailadmin="admin@example.com" #must be set
emailsmtp="mail.example.com" #must be set
emailuser="admin@example.com"  #can be emty
emailpass="" #can be emty
emailport=25
emailtls="yes" #must be set(yes,no)

##PGP##
gpgkey="1234567" #must be set

##DB##
dbuser="backup" #must be set
dbpass="" #can be emty
######## Config ########